{% extends 'base.html' %}

{% load form_filters %} <!-- Load the custom filter library -->

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    {% endif %}
    <h4>Welcome to </h4>
    <h1>Bissdom Bank</h1>

    <!-- Check if user is authenticated -->
    <!-- {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" id="username" class="form-control" required> -->
    <!-- Added Bootstrap class -->
    <!-- </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control" required> -->
    <!-- Added Bootstrap class -->
    <!-- </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    {% endif %} -->
</div>
{% endblock %}